PORT=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/shopbridge?schema=public
JWT_SECRET=
JWT_EXPIRES_IN=1d
ELASTICSEARCH_NODE=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_INDEX=inventory_logs
